@use 'src/styles/vars' as v;

.error {
  font-family: v.$font-text;
  background-color:white;
  position: relative;
  top: 0%;
  width: auto;
  padding: .7em;
  height: 6em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  color: v.$font-color;
  background-color: v.$error-color;
  opacity: 0.8;
  margin-bottom: 2em;
  &__content {
    text-align: center;
    font-size: 1.2em;
  }
  animation: labelSlideUpAndShow 1s;
}

@keyframes labelSlideUpAndShow{
  0% {
    transform: translateY(-4em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
