@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
html{
  overflow-x: hidden;
  overflow-y: hidden;
}
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
