@use 'src/styles/vars' as v;

.gallery {
  background-color: v.$bg-color;
  width: 100%;
  height: 72vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  &__spinner {
    margin: 0 auto;
    display: flex;
    align-self: center;
  }
}

.card {
  font-family: v.$font-text;
  color: v.$font-color;
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
  &__picture {
    width: 50%;
  }
  &__infos {
    height: 100%;
    padding: .2em;
    border-radius: 10px;
    border: 2px solid v.$second-color;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__last-five-score {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 3em;
    height: 3em;
  }
}
